/* Calendário, com 424px de width ele fica quadradinho certinho */

.calendario {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  grid-column: 1 / span 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
table th {
  font-weight: bold;
  color: #ff0000;
  border-bottom: solid 1px #b6b6b6;
}
table td {
  border: none;
}
table th,
table td {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
table .highlight {
  background-color: #f44336;
  color: #ffffff;
  border-radius: 50%;
}

/* Atividades */
.atividade {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}

.rotulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.detalhes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
}

.detalhes > div {
  text-align: center;
  flex: 1;
  padding: 0 10px;
}

.materia, .data, .hora {
  font-size: 14px;
}

.materia strong,
.data strong,
.hora strong {
  display: block;
  font-weight: bold;
  color: #555555;
}

.materia span,
.data span,
.hora span {
  color: #777777;
}
