/* Estilos gerais */
.container {
  margin-left: 260px;
  margin-top: 13vh;
  padding: 20px;
}

/* Ajustar para que o conteúdo principal não seja soterrado */
.content {
  margin-top: 2rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.suas-metas,
.proximos-dias {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suas-metas {
  grid-column: 2 / span 1;
  margin-bottom: 20px;
}

.proximos-dias {
  grid-column: 2 / span 1;
}

/* Títulos */
h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333333;
}

/* Metas */
.suas-metas .meta p {
  margin: 10px 0;
  font-size: 16px;
}

/* Próximos dias */
.proximos-dias ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.proximos-dias li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333333;
}

.tag {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 25px;
  margin-right: 10px;
}
.tag.rosa {
  background-color: #ff69b4;
}
.tag.azul {
  background-color: #87cefa;
}
.tag.laranja {
  background-color: #ffa500;
}
.tag.amarelo {
  background-color: #ffd700;
}

/* Responsividade */
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .suas-metas,
  .proximos-dias {
    margin-bottom: 20px;
  }
}

